/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------*/

ul { list-style-type: circle; }

ol { list-style-type: decimal; }

body {
	color: #2e3436;
	text-align: center;
	font-family: Helvetica, Arial, Clean, sans-serif;
	margin: 0 auto;
}

strong { font-weight: bold; }

em { font-style: italic; }

.footnote-reference {
    font-size: 80%;
}

.fn-backref {
    font-size: 80%;
    margin-right: .5em;
}

header {
	border-bottom: 1px solid #d3d7cf;
	font-family: Helvetica, Arial, sans-serif;
	padding-bottom: 35px;
	text-align: left;
	line-height: 1;
}

header #site-name {
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-top: 9px;
	margin-left: 10px;
}

header #site-name a {
	color: #4e9a06;
	text-decoration: none;
}

header #site-name a:hover {
	color: #2e3436;
}

nav ul {
	float: right;
	text-align: right;
	width: 330px;
	margin-top: 15px;
	margin-right: 10px;
}
nav li {
	list-style-type: none;
	float: right;
	display: block;
	padding-left: 20px;
}

nav li a {
	display: block;
	float: right;
	color: #888a85;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

nav li a:visited {
	color: #888a85;
}

nav li.selected a {
	color: #2e3436;
}

div.center-nav {
	padding-top: 15px;
	text-align: center;
	font-size: 14px;
}

div.center-nav a {
	padding-left: 20px;
	color: #3465A4;
	text-decoration: none;
}

div.center-nav a {
	color: #3465A4;
}

div.center-nav a:visited {
	color: #3465A4;
}

#more {
	text-align: center;
	margin: 20px auto;
}

#more a {
	margin: 0px 20px;
	color: #888a85;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

section {
	text-align: left;
	font-size: 15px;
}

section article {
	margin: 2em 1.5em;
	line-height: 1.5em;
}

section article p {
	margin: 1em 0;
	text-indent: 2em;
}

section article ol p, section article ul p {
    text-indent: 0;
}

section h1 {
	font-size: 28px;
	margin: 2em 0 1em 0;
}

section h1 a {
	font-size: 28px;
	text-decoration: none;
}

section h2 {
	margin: 1em 0;
	font-size: 25px;
}

section h3 {
	font-size: 20px;
}

section time {
	font-size: 13px;
	color: #888a85;
}

section article section.topic h2 {
	font-size: 15px;
	margin: 0.5em 0;
}

section article section.topic {
	color: #444443;
	background: #eeeeec;
	font-size: 13px;
	margin: 1em 2em;
	padding: 0.5em;
}

section article p img {
	display: block;
	text-align: center;
	max-width: 500px;
	margin: 0px auto 15px auto;
}

section article pre {
	background: #eeeeec;
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	overflow: auto;
	padding: 5px 10px;
	margin: 1em 2em;
}

section article code, section article tt {
	font-family: Consolas, Monaco, monospace;
	font-size: 13px;
}

section article pre code {
	font-size: 12px;
}
section a {
	color: #3465a4;
	text-decoration: none;
}

section ol, section ul {
    margin-left: 5em;
}

section dl {
    margin-left: 4em;
}

section dd {
    margin: 0 2em .5em 0;
}

section ul.article-list {
    margin: 0;
	list-style-type: none;
}

section ul.article-list span {
	color: #888a85;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}

section ul.article-list li {
	line-height: 1.5em;
}

section ul.article-list li a {
    text-decoration: none;
}

section article blockquote p {
    text-indent: 0;
}

blockquote {
	color: #555653;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
} 

#disqus_thread {
    margin-top: 1em;
}

section #about {
	line-height: 1.5em;
    margin: 2em 1.5em;
}

#avatar {
	float: left;
}

#about p {
    margin-left: 200px;
}

#about p.email {
    margin: 20px 0px;
}

#posts, #projects, #archives {
    margin: 2em 1.5em;
}

#posts h1, #projects h1 {
    font-size: 15px;
    font-weight: bold;
}

#more {
	color: #888a85;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

footer {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 25px;
	border-top: 1px dotted #d3d7cf;
    margin: 0 1.5em;
}
